.landing-main {
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5em 0;
}

.hero-container {
  background-color: #c0bfbf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55em;
  position: relative;
}

.herobtn-container {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herobtn-container button {
  background: none;
  border: none;
}

.hero-product h1 {
  font-size: 5rem;
}

.winterprods-hero {
  position: absolute;
  top: 110px;
  left: 100px;
  color: white;
}

.headwearprods-hero {
  position: absolute;
  bottom: 150px;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.winterlink-hero {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: none;
  border: 5px solid #148cee;
  margin-left: 0.3em;
  padding: 0.8em 1em;
}

.winterlink-hero:hover {
  background-color: #148cee;
}

.headwearlink-hero {
  text-decoration: none;
  font-size: 2rem;
  color: #a80f29;
  background-color: white;
  padding: 0.8em 1em;
}

.headwearlink-hero:hover {
  color: white;
  background-color: #a80f29;
}

.winter-ring {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 40px;
}

.winter-ring:hover {
  color: white;
}

.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

.featured-container img {
  width: 500px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ftrd-text {
  width: 30em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ftrd-text h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.ftrd-text p {
  color: #757575;
  margin-bottom: 2.3em;
  line-height: 1.4em;
}

.ftrd1 {
  margin-left: 10em;
}

.ftrd2 {
  margin-right: 10em;
}

.first-link {
  text-decoration: none;
  color: black;
  border: 1px solid #222121;
  padding: 1em 1em;
}

.first-link:hover {
  color: white;
  background-color: #222121;
}

.second-link {
  text-decoration: none;
  color: #a80f29;
  border: 1px solid #a80f29;
  padding: 1em 1em;
}

.second-link:hover {
  color: white;
  background-color: #a80f29;
}

.genderland-container {
  background-color: #a80f29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4em;
  padding: 4em 13.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.genderland-container div {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.genderland-container div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.genderland-container div > * {
  text-decoration: none;
  color: white;
  text-align: center;
}

.genderland-container img {
  width: 350px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.genderland-container h1 {
  font-size: 2rem;
  margin-top: 0.7em;
}

.genderland-container span {
  font-weight: 100;
}

.stories-container {
  padding-top: 10em;
  padding-left: 7em;
  padding-right: 7em;
}

.stories-container img {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}

.stories-container h1 {
  text-align: center;
  font-size: 3.5rem;
  text-decoration: underline;
  margin-bottom: 1.5em;
}

.stories-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50em;
  padding: 2em;
  margin-bottom: 7em;
}

.story p {
  font-style: italic;
  text-align: justify;
  margin-bottom: 1em;
}

.story h3 {
  border-bottom: 2px solid #a80f29;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}

.story1-text {
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.story2-text {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*  Media Queries */
@media screen and (max-width: 1538px) {
  .hero-container {
    height: 45em;
  }
  .hero-product h1 {
    font-size: 4rem;
  }
  .headwearprods-hero {
    bottom: 100px;
  }
  .winterlink-hero {
    font-size: 1.8rem;
  }
  .headwearlink-hero {
    font-size: 1.5rem;
  }
  .genderland-container {
    padding: 4em 7em;
  }
}

@media screen and (max-width: 1442px) {
  .winterlink-hero {
    padding: 0.5em 0.7em;
  }
  .headwearlink-hero {
    font-size: 1.8rem;
    padding: 0.5em 0.7em;
  }
  .genderland-container {
    padding: 4em 8em;
  }
  .genderland-container img {
    width: 300px;
    height: 450px;
  }
}

@media screen and (max-width: 1368px) {
  .featured-container img {
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 1282px) {
  .featured-container img {
    width: 400px;
    height: 600px;
  }
  .ftrd-text {
    width: 20em;
  }
  .genderland-container {
    padding: 4em 7em;
  }
  .genderland-container img {
    width: 275px;
    height: 400px;
  }
}

@media screen and (max-width: 1026px) {
  .hero-container {
    height: 30em;
  }
  .hero-product h1 {
    font-size: 3rem;
  }
  .winterprods-hero {
    top: 70px;
    left: 60px;
  }
  .headwearprods-hero {
    bottom: 70px;
  }
  .winterlink-hero {
    font-size: 1.5rem;
    background-color: #148cee;
  }
  .headwearlink-hero {
    font-size: 1.5rem;
  }
  .featured-container img {
    width: 300px;
    height: 450px;
  }
  .ftrd-text {
    width: 16em;
  }
  .ftrd-text h2 {
    font-size: 2.5rem;
  }
  .first-link {
    color: white;
    background-color: #222121;
  }
  .second-link {
    color: white;
    background-color: #a80f29;
  }
  .genderland-container {
    padding: 4em 6em;
  }
  .genderland-container img {
    width: 200px;
    height: 300px;
  }
  .genderland-container h1 {
    font-size: 1.5rem;
    margin-top: 0.7em;
  }
  .stories-container {
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
  }
  .stories-container img {
    width: 200px;
    height: 270px;
  }
  .stories-container h1 {
    margin-bottom: 1em;
  }
  .story {
    width: 40em;
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 850px) {
  .landing-main {
    padding: 4em 0;
  }
  .hero-container {
    height: 25em;
  }
  .hero-product h1 {
    font-size: 2.5rem;
  }
  .winterprods-hero {
    top: 50px;
    left: 30px;
  }
  .winterlink-hero {
    font-size: 1.3rem;
    padding: 0.2em 0.5em;
  }
  .herobtn-container {
    bottom: 10px;
  }
  .headwearlink-hero {
    font-size: 1.3rem;
    padding: 0.3em 0.5em;
  }
  .winter-ring {
    width: 35px;
    height: 35px;
  }
  .featured-container {
    height: 72em;
    position: relative;
  }
  .featured-container img {
    position: absolute;
  }
  img[alt="Grace Ultra Dark Jacket"] {
    top: 80px;
    left: 80px;
  }
  img[alt="Harlem NYC T-Shirt"] {
    bottom: 80px;
    right: 80px;
  }
  .ftrd-text {
    position: absolute;
  }
  .ftrd1 {
    top: 75px;
    right: 90px;
  }
  .ftrd2 {
    bottom: 105px;
    left: 80px;
  }
  .genderland-container {
    margin-top: 0;
    padding: 4em 3em;
  }
  .genderland-container div:hover {
    -webkit-transform: none;
            transform: none;
  }
  .stories-container h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 795px) {
  img[alt="Grace Ultra Dark Jacket"] {
    left: 70px;
  }
  img[alt="Harlem NYC T-Shirt"] {
    right: 70px;
  }
  .ftrd1 {
    right: 70px;
  }
  .ftrd2 {
    left: 70px;
  }
  .genderland-container {
    padding: 3em 2.5em;
  }
}

@media screen and (max-width: 750px) {
  .featured-container {
    height: 69em;
  }
  img[alt="Grace Ultra Dark Jacket"] {
    top: 60px;
    left: 50px;
  }
  img[alt="Harlem NYC T-Shirt"] {
    bottom: 60px;
    right: 50px;
  }
  .ftrd1 {
    top: 55px;
    right: 50px;
  }
  .ftrd2 {
    bottom: 85px;
    left: 50px;
  }
  .genderland-container {
    padding: 3em 1.5em;
  }
  .stories-container {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 700px) {
  .featured-container {
    height: 65em;
  }
  img[alt="Grace Ultra Dark Jacket"] {
    top: 40px;
    left: 30px;
  }
  img[alt="Harlem NYC T-Shirt"] {
    bottom: 40px;
    right: 30px;
  }
  .ftrd1 {
    top: 35px;
    right: 30px;
  }
  .ftrd2 {
    bottom: 65px;
    left: 30px;
  }
  .genderland-container img {
    width: 180px;
    height: 280px;
  }
  .genderland-container h1 {
    font-size: 1.3rem;
  }
  .stories-container {
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .stories-container img {
    width: 200px;
    height: 250px;
  }
  .stories-container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  .story {
    width: 39em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 650px) {
  .featured-container {
    height: 60em;
  }
  .featured-container img {
    width: 250px;
    height: 380px;
  }
  img[alt="Harlem NYC T-Shirt"] {
    bottom: 100px;
    right: 30px;
  }
  .ftrd2 {
    bottom: 60px;
    left: 30px;
  }
  .genderland-container {
    padding: 2em 1em;
  }
  .story {
    width: 36em;
  }
}

@media screen and (max-width: 595px) {
  .hero-container {
    height: 25em;
  }
  .hero-product h1 {
    font-size: 1.9rem;
  }
  .winterprods-hero {
    top: 40px;
    left: 20px;
  }
  .winterlink-hero {
    font-size: 1.3rem;
    padding: 0.5em 0.3em;
    margin-left: 0;
  }
  .herobtn-container {
    bottom: 4px;
  }
  .headwearlink-hero {
    font-size: 1.3rem;
    padding: 0.6em 1em;
  }
  .headwearprods-hero {
    bottom: 50px;
  }
  .featured-container {
    height: 73em;
  }
  .featured-container img {
    position: relative;
    width: 380px;
    height: 500px;
    top: 0;
  }
  .featured-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
  }
  .ftrd-item1 {
    top: 55px;
  }
  .ftrd-item2 {
    bottom: 55px;
  }
  .ftrd-text {
    top: 20px;
    z-index: 1;
    padding: 2em;
    width: 21em;
    height: 28.5em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ftrd-text h2 {
    color: white;
    font-size: 1.7rem;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid white;
  }
  .ftrd-text p {
    display: none;
  }
  .ftrd1 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .ftrd2 {
    background-color: #a80f28ad;
  }
  img[alt="Grace Ultra Dark Jacket"] {
    margin-right: 4em;
  }
  img[alt="Harlem NYC T-Shirt"] {
    margin-left: 3.7em;
  }
  .first-link {
    border: 1px solid white;
  }
  .second-link {
    border: 1px solid white;
  }
  .genderland-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-top: 3.5em;
    background-color: #a80f29;
  }
  .genderland-container div {
    background-color: white;
    padding: 1.5em;
    margin-bottom: 3.5em;
    position: relative;
  }
  .genderland-container img {
    width: 330px;
    height: 450px;
  }
  .genderland-container h1 {
    position: absolute;
    bottom: 160px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 4.5rem;
  }
  .stories-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em 0;
  }
  .stories-container img {
    width: 100%;
    height: 300px;
    border-radius: 0;
  }
  .stories-container h1 {
    margin-bottom: 1em;
  }
  .stories-container section {
    display: block;
  }
  .story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 23.5em;
    padding: 1.5em;
    margin: 0;
    margin-bottom: 3em;
    border: 4px dashed #a80f29;
    position: relative;
  }
  .story1-text {
    margin-left: 0;
    margin-top: 1.5em;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .story2-text {
    margin-right: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 335px;
    padding: 1.5em;
  }
  .story2 {
    height: 42em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero-product h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 420px) {
  .landing-main {
    padding: 3em 0;
  }
  .hero-container {
    height: 20em;
  }
  .winterprods-hero {
    top: 35px;
    left: 15px;
  }
  .winterlink-hero {
    font-size: 1.1rem;
  }
  .headwearlink-hero {
    font-size: 1.1rem;
    padding: 0.6em 0.7em;
  }
  .featured-container {
    height: 62.8em;
  }
  .featured-container img {
    width: 330px;
    height: 450px;
  }
  .ftrd-item1 {
    top: 35px;
  }
  .ftrd-item2 {
    bottom: 35px;
  }
  .ftrd-text {
    width: 18em;
    height: 25.5em;
  }
  .genderland-container {
    padding-top: 2em;
  }
  .genderland-container img {
    width: 280px;
    height: 380px;
  }
  .genderland-container div {
    margin-bottom: 2.3em;
  }
  .genderland-container h1 {
    bottom: 195px;
    font-size: 2.3rem;
  }
  .stories-container {
    padding: 1em 0;
  }
  .stories-container img {
    width: 100%;
    height: 200px;
  }
  .stories-container h1 {
    margin-bottom: 0.5em;
  }
  .story {
    width: 20.5em;
    margin-bottom: 2em;
  }
  .story2-text {
    top: 235px;
  }
  .story2 {
    height: 36.5em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 390px) {
  .hero-product h1 {
    font-size: 1.4rem;
  }
  .winterprods-hero {
    top: 20px;
    left: 15px;
  }
  .winterprods-hero h1 {
    color: #034353;
  }
  .winterlink-hero {
    font-size: 1rem;
  }
  .featured-container {
    height: 55.8em;
  }
  .featured-container img {
    width: 300px;
    height: 400px;
  }
  .ftrd-item1 {
    top: 30px;
  }
  .ftrd-item2 {
    bottom: 30px;
  }
  .ftrd-text {
    width: 16.5em;
    height: 22.5em;
  }
  .genderland-container img {
    width: 264px;
    height: 350px;
  }
  .genderland-container div {
    padding: 1.1em;
  }
  .genderland-container h1 {
    bottom: 130px;
    font-size: 3.5rem;
  }
  .stories-container {
    padding: 1.5em 0;
  }
  .stories-container h1 {
    font-size: 2rem;
    margin-bottom: 0.8em;
  }
  .story {
    width: 19em;
  }
  .story2 {
    height: 38em;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=landing.css.map */