.landing-main {
  background-color: white;
  transition: 0.5s;
  padding: 5em 0;
}

.hero-container {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55em;
  position: relative;
}

.herobtn-container {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;

  button {
    background: none;
    border: none;
  }
}

.hero-product {
  h1 {
    font-size: 5rem;
  }
}

.winterprods-hero {
  position: absolute;
  top: 110px;
  left: 100px;
  color: white;
}

.headwearprods-hero {
  position: absolute;
  bottom: 150px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winterlink-hero {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: none;
  border: 5px solid rgb(20, 140, 238);
  margin-left: 0.3em;
  padding: 0.8em 1em;

  &:hover {
    background-color: rgb(20, 140, 238);
  }
}

.headwearlink-hero {
  text-decoration: none;
  font-size: 2rem;
  color: #a80f29;
  background-color: white;
  padding: 0.8em 1em;

  &:hover {
    color: white;
    background-color: #a80f29;
  }
}

.winter-ring {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 40px;

  &:hover {
    color: white;
  }
}

// Features Part---------------------------------

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: pink;
  padding: 5em 0;

  img {
    width: 500px;
    height: 800px;
    object-fit: cover;
  }
}

.featured-item {
  display: flex;
  // margin-bottom: 5em;
}

.ftrd-text {
  // background-color: aqua;
  width: 30em;
  transition: 0.5s;

  h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.2em;
  }

  p {
    color: rgb(117, 117, 117);
    margin-bottom: 2.3em;
    line-height: 1.4em;
  }
}

.first-link {
  text-decoration: none;
  color: black;
  border: 1px solid rgb(34, 33, 33);
  padding: 1em 1em;

  &:hover {
    color: white;
    background-color: rgb(34, 33, 33);
  }
}

.second-link {
  text-decoration: none;
  color: #a80f29;
  border: 1px solid #a80f29;
  padding: 1em 1em;

  &:hover {
    color: white;
    background-color: #a80f29;
  }
}

// Gender Category Part---------------------------

.genderland-container {
  background-color: #a80f29;
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  padding: 4em 13.5em;
  transition: 0.5s;

  div {
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  div > * {
    text-decoration: none;
    color: white;
    text-align: center;
  }

  img {
    width: 350px;
    height: 500px;
    object-fit: cover;
  }

  h1 {
    font-size: 2rem;
    margin-top: 0.7em;
  }

  span {
    font-weight: 100;
  }
}

// Stories Part---------------------------

.stories-container {
  //background-color: gray;
  padding-top: 10em;
  padding-left: 7em;
  padding-right: 7em;

  img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 1em;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
    margin-bottom: 1.5em;
  }

  section {
    // background-color: #a80f29;
    display: flex;
    justify-content: flex-end;
  }
}

.story {
  display: flex;
  align-items: center;
  width: 50em;
  padding: 2em;
  //border: 4px dashed #a80f29;
  margin-bottom: 7em;

  p {
    font-style: italic;
    text-align: justify;
    margin-bottom: 1em;
  }

  h3 {
    border-bottom: 2px solid #a80f29;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
  }
}

.story1-text {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.story2-text {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*  Media Queries */

@media screen and (max-width: 1538px) {
  .hero-container {
    height: 45em;
  }

  .hero-product {
    h1 {
      font-size: 4rem;
    }
  }

  .headwearprods-hero {
    bottom: 100px;
  }

  .winterlink-hero {
    font-size: 1.8rem;
  }

  .headwearlink-hero {
    font-size: 1.5rem;
  }

  .genderland-container {
    padding: 4em 7em;
  }
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 420px) {
}
