.checkout-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em 20em;
  z-index: 4;
  background-color: rgba(219, 215, 210, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  position: relative;
  background-color: #a80f29;
  background-image: url("../../assets/images/footerbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //margin: 3em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
}

.checkoutbtn-close {
  position: absolute;
  border: none;
  background: none;
  color: white;
  top: 10px;
  right: 20px;
  cursor: pointer;

  & > * {
    width: 50px;
    height: 50px;

    &:hover {
      color: rgb(245, 104, 104);
    }
  }
}

.form-container {
  background-color: white;
  max-width: 700px;
  padding: 2em 4em;

  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 2em;
    }

    span {
      color: red;
    }

    label {
      margin-right: 1em;
    }

    input[placeholder] {
      outline: none;
      border: none;
      border-bottom: 1px solid gray;
      margin-right: 1em;
      font-size: 1rem;
    }

    input[type="email"] {
      width: 300px;
    }

    input[name="address"] {
      width: 200px;
    }

    input[name="city"] {
      width: 100px;
    }

    input[name="zip"] {
      width: 100px;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    select {
      background-color: rgba(221, 217, 217, 0.6);
      font-size: 1rem;
      border: none;
      outline: none;
      padding: 0.2em 0.1em;
      border-radius: 0.2em;
    }

    input[type="submit"] {
      background-color: white;
      border: 2px solid #a80f29;
      font-size: 1rem;
      font-weight: bolder;
      letter-spacing: 0.1em;
      padding: 0.8em 0;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #a80f29;
      }
    }
  }
}

.checkout-steps {
  // background-color: yellowgreen;
  text-align: center;
  border-bottom: 2px solid #a80f29;
  padding-bottom: 2em;
  margin-bottom: 2em;

  p {
    font-size: 1.1rem;
    color: rgb(196, 188, 188);
  }
}

.ch-number {
  color: white;
  background-color: rgb(196, 191, 191);
  //background-color: #a80f29;

  border-radius: 50%;
}

.num1 {
  padding: 0.2em 0.5em;
  background-color: #a80f29;
}

.num2 {
  padding: 0.2em 0.4em;
}

.num3 {
  padding: 0.2em 0.4em;
}

.checkout-stepsname {
  //background-color: pink;
  display: flex;
  // text-align: center;
  margin: 1em 0;
  margin-bottom: 2em;
  position: relative;

  h2 {
    display: none;
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 1rem;
  }

  h3 {
    display: none;
    position: absolute;
    top: 0;
    left: 168px;
    font-size: 1rem;
  }

  h4 {
    display: none;
    position: absolute;
    top: 0;
    left: 363px;
    font-size: 1rem;
  }
}

.checkoutitemsum-cont {
  max-height: 10em;
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.checkoutitem-sum {
  // background-color: yellow;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;

  div {
    display: flex;
  }

  span {
    color: green;
    margin-left: 0.5em;
  }
}

.ship-expense {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.checkoutitem-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 2em;

  span {
    border-bottom: 2px solid #a80f29;
  }
}

.card-input {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 2em 1em;
  margin-bottom: 1em;
}

.backinfo-btn {
  display: flex;
  align-items: center;
  margin-top: 2em;

  button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 0.5em;

    &:hover {
      color: #a80f29;
    }
  }

  button > * {
    width: 50px;
    height: 50px;
  }

  p {
    font-size: 0.8rem;
  }
}

.card-error {
  //background-color: #a80f29;
  color: #a80f29;
  text-align: center;
  font-style: italic;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 0.5em;
    color: #a80f29;
  }

  img {
    width: 250px;
    margin-bottom: 1em;
  }
}

.placing-order {
  text-align: center;

  img {
    width: 70px;
  }
}

/*  Media Queries */

@media screen and (max-width: 1538px) {
  .checkout-container {
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    h1 {
      font-size: 1.5rem;
    }
  }

  .form-container {
    padding: 1em 3em;
  }

  .checkout-steps {
    margin-bottom: 1em;
  }

  .checkout-stepsname {
    margin: 0.5em 0;
    margin-bottom: 1em;
  }

  .backinfo-btn {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 1282px) {
  .form-container {
    padding: 2em 2em;
    width: 750px;
  }

  .checkout-steps {
    margin-bottom: 2em;
  }

  .checkout-stepsname {
    margin-bottom: 1.5em;

    h2 {
      left: 70px;
    }

    h3 {
      left: 270px;
    }

    h4 {
      left: 470px;
    }
  }
}

@media screen and (max-width: 780px) {
  .checkout-outer {
    padding: 0;
  }

  .checkout-container {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 600px) {
  .checkout-container {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 495px) {
  .checkout-container {
    transform: scale(0.55);
  }
}

@media screen and (max-width: 420px) {
  .checkout-container {
    transform: scale(0.75);
  }

  .form-container {
    max-width: 400px;

    form {
      position: relative;

      div {
        margin-bottom: 1em;
      }

      label {
        font-size: 1.1rem;
      }

      input[placeholder] {
        width: 100%;
        margin-bottom: 1em;
      }

      select {
        width: 100%;
        margin-top: 0.2em;
      }
    }
  }

  span.ch-line {
    display: none;
  }

  .ch-number {
    position: absolute;
  }

  .num1 {
    top: 70px;
    left: 83px;
  }

  .num2 {
    top: 70px;
    left: 206px;
  }

  .num3 {
    top: 70px;
    left: 335px;
  }

  .checkout-stepsname {
    h2 {
      top: 10px;
      left: 0;
    }

    h3 {
      top: 10px;
      left: 120px;
    }

    h4 {
      top: 10px;
      left: 243px;
    }
  }

  .checkoutitemsum-cont {
    white-space: normal;
  }

  .checkout-steps {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 350px) {
  .checkout-container {
    transform: scale(0.65);
  }
}
