.cart-container {
  padding: 0.2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartitem-container {
  background-color: white;
  padding: 0.5em;
  width: 240px;
  margin-bottom: 1em;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0.5em;
  }
}

.cartitem-name {
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.cartitem-price {
  color: rgb(179, 11, 11);
  margin-bottom: 0.4em;
  text-decoration: underline;

  img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 0.5em;
  }
}

.cartitem-edit {
  position: relative;
  display: flex;
  justify-content: space-between;

  img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 105px;
    margin-left: 0.5em;
  }
}

.cartitem-quantity {
  background-color: rgba(155, 152, 152, 0.397);

  border-radius: 0.3em;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 0.3em;

    &:hover {
      background-color: rgb(155, 152, 152);
    }
  }

  span {
    margin: 0 0.5em;
  }
}

.cartitem-remove {
  color: rgb(245, 68, 68);
  cursor: pointer;
  background: none;
  border: none;

  img {
    width: 35px;
    height: 30px;
    margin-left: 6.3em;
  }

  & > * {
    width: 40px;
    height: 30px;
  }

  &:hover {
    color: red;
  }
}

.cart-bottom {
  color: white;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.5rem;
  }

  span {
    color: white;
    font-size: 2.3rem;
    border-bottom: 3px solid white;
    margin-left: 0.2em;
  }

  h2 {
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  button {
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    width: 230px;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
}

.checkout-btn {
  color: rgb(168, 52, 52);
  background-color: white;
  margin-bottom: 1em;

  &:hover {
    &::after {
      content: " >>";
    }
  }
}

.empty-btn {
  color: white;
  background-color: rgb(245, 68, 68);

  &:hover {
    &::before {
      content: "<< ";
    }
  }
}

@media screen and (max-width: 850px) {
  .cartitems {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    position: absolute;
    top: 10px;
    left: 90px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .cartitems::-webkit-scrollbar {
    display: none;
  }

  .cartitem-container {
    width: 300px;

    img {
      width: 100%;
      height: 230px;
    }
  }

  .cartitem-name {
    color: black;
  }

  .cartitem-quantity {
    span {
      color: black;
    }
  }

  .cart-bottom {
    position: absolute;
    top: 90px;
    right: 50px;

    button {
      padding: 1em 1em;
      font-size: 1.1rem;
    }
  }

  .cartitem-price {
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-left: 0.5em;
    }
  }

  .cartitem-edit {
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 7px;
      left: 105px;
      margin-left: 0.5em;
    }
  }

  .cartitem-remove {
    img {
      width: 35px;
      height: 30px;
      margin-left: 10.7em;
    }
  }

  .checkout-btn {
    &:hover {
      &::after {
        content: none;
      }
    }
  }

  .empty-btn {
    &:hover {
      &::before {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 802px) {
  .cartitems {
    left: 45px;
  }

  .cart-bottom {
    right: 0;
  }
}

@media screen and (max-width: 702px) {
  .cartitem-container {
    width: 230px;
  }

  .cartitem-remove {
    img {
      margin-left: 5.5em;
    }
  }

  .cart-bottom {
    right: -10px;

    button {
      width: 200px;
      font-size: 1rem;
    }

    span {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 598px) {
  .cartitems {
    left: 20px;
  }

  .cartitem-container {
    width: 200px;

    img {
      height: 210px;
    }
  }

  .cartitem-price {
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-left: 0.5em;
    }
  }

  .cartitem-edit {
    img {
      display: none;
    }
  }

  .cartitem-remove {
    img {
      display: none;
    }
  }

  .cart-bottom {
    top: 90px;
    right: -50px;

    p {
      font-size: 1.2rem;
    }

    button {
      width: 170px;
      font-size: 1rem;
    }

    span {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .cart-bottom {
    top: 120px;
    right: -75px;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

    span {
      font-size: 1.1rem;
    }

    button {
      width: 120px;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .cartitems {
    left: 10px;
  }

  .cartitem-container {
    width: 170px;

    img {
      height: 210px;
    }
  }

  .cartitem-price {
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-left: 0.5em;
    }
  }

  .cart-bottom {
    width: 140px;
    top: 130px;
    right: 0px;

    span {
      position: absolute;
      top: -30px;
      right: 30px;
      font-size: 1.3rem;
    }

    p {
      position: absolute;
      top: -60px;
    }

    button {
      font-size: 0.9rem;
      padding: 1.5em 1em;
    }
  }
}

@media screen and (max-width: 400px) {
  .cart-bottom {
    right: -8px;
  }
}

@media screen and (max-width: 390px) {
  .cart-bottom {
    right: -10px;

    button {
      width: 100px;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 380px) {
  .cart-bottom {
    right: -17px;

    p {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .cart-bottom {
    top: 150px;
    right: -22px;

    button {
      width: 90px;
      font-size: 0.7rem;
    }

    span {
      font-size: 1.1rem;
      right: 35px;
    }

    p {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 355px) {
  .cartitems {
    left: 3px;
  }

  .cart-bottom {
    right: -38px;

    button {
      width: 80px;
      font-size: 0.6rem;
    }

    span {
      font-size: 1rem;
    }

    p {
      font-size: 0.5rem;
    }
  }
}
