.pagenotfound-main {
  min-height: 100vh;
  padding: 8em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;

  p {
    font-size: 1.5rem;
    margin-top: 1em;
  }

  div {
    font-size: 1.5rem;
  }
}

.pnfsticker {
  width: 300px;
}

.oops {
  width: 130px;
}
