.pagenotfound-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  p {
    font-size: 1.5rem;
    margin-top: 1em;
  }

  div {
    font-size: 1.5rem;
  }
}

.pnfsticker {
  width: 300px;
}

.oops {
  width: 130px;
}

/*  Media Queries */

@media screen and (max-width: 1538px) {
  .pagenotfound-main {
    p {
      font-size: 1.2rem;
    }
    div {
      font-size: 1.2rem;
    }
  }

  .pnfsticker {
    width: 250px;
  }
}
