.footer-main {
  color: white;
  background-color: #a80f29;
  background-image: url("../../assets/images/webpimages/footerbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flinks-container {
  margin-top: 2.5em;
}

.flinks-container button {
  background-color: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.footer-links {
  text-decoration: none;
  color: white;
  padding-bottom: 0.2em;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.footer-links:hover {
  background-size: 100% 2px, auto;
}

.footer-copyright {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.cookie-warning {
  background-color: #a80f29;
  position: fixed;
  bottom: -100%;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 2em;
  border: 2px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.cookie-warning p {
  color: white;
  text-align: center;
  margin-bottom: 0.5em;
}

.cookie-warning button {
  border: none;
  background-color: white;
  padding: 0.5em 1em;
  font-weight: bold;
  margin-right: 1em;
  cursor: pointer;
}

.cookie-warning button:hover {
  background-color: #d3d2d2;
}

.privacy-warn {
  text-decoration: none;
  color: white;
  background-color: #9e9c9c;
  padding: 0.42em 1em;
}

.privacy-warn:hover {
  background-color: #585757;
}

.contact-container {
  background-color: #ffffff7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.cform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid white;
  background-color: #a80f29;
  background-image: url("../../assets/images/footerbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  max-width: 500px;
  padding: 2em;
  position: relative;
}

.cform-container h1 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 0.6em;
  text-align: center;
}

.cform-container button {
  border: none;
  background: none;
  cursor: pointer;
}

.cform-container button > * {
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.cform-container button > *:hover {
  color: #ec4d68;
}

.cform-container img {
  width: 190px;
  margin-bottom: 1em;
}

.cform-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cform-container form div {
  margin-bottom: 1.5em;
}

.cform-container form label {
  color: #e9d9dc;
}

.cform-container form input[required] {
  color: white;
  background: none;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-left: 0.5em;
  width: 250px;
}

.cform-container form textarea {
  resize: none;
  outline: none;
  padding: 0.5em;
  height: 100px;
  font-size: 1rem;
  border: none;
  margin-bottom: 2em;
}

.cform-container form input[type="submit"] {
  border: 2px solid white;
  background-color: #a80f29;
  color: white;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1em;
}

.cform-container form input[type="submit"]:hover {
  color: #a80f29;
  background-color: white;
  border: 2px solid #a80f29;
}

.contact-side {
  position: fixed;
  bottom: 35px;
  left: 35px;
  z-index: 3;
}

.contact-side button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.contact-side button:hover {
  opacity: 1;
}

.contactclose-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -20px;
  left: -10px;
}

.contact-icon img {
  width: 60px;
}

.contact-icon:hover::after {
  content: "Have a question?";
  color: #a80f29;
  background-color: #f3ecec;
  padding: 0.5em 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 2px #b3b0b0;
          box-shadow: 0px 2px #b3b0b0;
}

@media screen and (max-width: 850px) {
  .footer-main {
    display: none;
  }
  .cform-container button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .cform-container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 450px) {
  .cform-container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 420px) {
  .cform-container {
    width: 100%;
  }
  .cform-container form input[required] {
    width: 200px;
  }
}
/*# sourceMappingURL=footer.css.map */