.clothing-main {
  background-color: white;
  padding-top: 9em;
  padding-bottom: 3em;
  padding-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.category-list button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 0.3em;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(black, black);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.category-list button:hover {
  background-size: 100% 3px, auto;
}

.clothing-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 14.3em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.clothing-item {
  width: 230px;
  margin-right: 5em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.clothing-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clothing-item button {
  border: none;
  background: none;
}

.clothing-item img {
  width: 230px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

.clothingitem-name {
  text-align: start;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.clothingitem-name p:hover {
  color: #a80f29;
}

.clothingitem-price {
  color: gray;
  font-size: 0.9rem;
}

.clothing-noitems {
  position: absolute;
  top: 40%;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clothing-noitems img {
  width: 150px;
  margin-bottom: 0.5em;
}

/*  Media Queries */
@media screen and (max-width: 1538px) {
  .category-list button {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1442px) {
  .clothing-main {
    padding-left: 1em;
  }
  .category-list {
    margin-left: 2em;
  }
  .clothing-item {
    margin-right: 4em;
  }
}

@media screen and (max-width: 1368px) {
  .category-list {
    margin-left: 2em;
  }
  .clothing-item {
    width: 200px;
  }
  .clothing-item img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1282px) {
  .clothing-main {
    padding-left: 0;
  }
  .clothing-item {
    margin-right: 3em;
  }
}
/*# sourceMappingURL=clothing.css.map */