/* CSS Defaults */
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

/* Setting the maximum width of the website  */
.website-container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}

/* Media Query*/
@media screen and (max-width: 850px) {
  .website-container {
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
}
