.item-main {
  background-color: white;
  padding-top: 9em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nomain-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nomain-item img {
  margin-bottom: 1em;
}

.image-cache {
  width: 0;
  height: 0;
}

.baggedarrow {
  position: fixed;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 150px;
  right: 53px;
}

.baggedarrow img {
  width: 60px;
}

.item-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-gallery img {
  width: 600px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 1em;
}

.item-gallery button {
  border: none;
  background: none;
  cursor: pointer;
}

.item-gallery button > * {
  width: 60px;
  height: 60px;
}

.item-details {
  margin: auto 0;
}

.itemdetails-name {
  font-size: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0.5em;
  width: 10em;
}

.itemdetails-desc {
  margin-bottom: 4em;
  width: 35em;
}

.itemdetails-sizes {
  margin-bottom: 0.5em;
}

.itemdetails-size {
  display: inline-block;
  margin-bottom: 2em;
}

.itemdetails-size button {
  border: none;
  cursor: pointer;
  margin-right: 1em;
  color: grey;
  background-color: rgba(172, 169, 169, 0.1);
  border: 1px solid #a5a3a3;
  padding: 0.5em 0.9em;
}

.itemdetails-price {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.addtobag-btn {
  font-size: 1.5rem;
  border: none;
  color: #a80f29;
  background-color: white;
  border: 2px solid #a80f29;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.addtobag-btn:hover {
  background-color: #a80f29;
  color: white;
}

.quantity-guide {
  font-size: 0.9rem;
  color: gray;
  font-style: italic;
}

.photo-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d1cdcd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 4rem;
}

.photo-nav p {
  margin-right: 0.4em;
}

.related-products {
  width: 100%;
  position: relative;
  margin-top: 9em;
  padding-right: 10em;
  padding-left: 10em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.related-title {
  font-size: 2.1rem;
}

.scroll-btn {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-btn > * {
  width: 60px;
  height: 60px;
}

.left-btn {
  position: absolute;
  left: 90px;
  top: 210px;
}

.right-btn {
  position: absolute;
  right: 90px;
  top: 210px;
}

.related-container {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.related-container::-webkit-scrollbar {
  display: none;
}

.related-item {
  margin-right: 5em;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.related-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.related-item img {
  width: 230px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-item button {
  border: none;
  background: none;
}

.clothingitem-name {
  text-align: start;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.clothingitem-name p:hover {
  color: #a80f29;
}

.related-price {
  color: gray;
  font-size: 0.9rem;
}

.no-related {
  font-size: 1.5rem;
  margin-left: 0.4em;
  margin-top: 1em;
}

/*  Media Queries */
@media screen and (max-width: 1538px) {
  .item-gallery img {
    width: 500px;
    height: 750px;
  }
  .itemdetails-name {
    width: 7em;
  }
  .itemdetails-desc {
    width: 20em;
  }
}

@media screen and (max-width: 1368px) {
  .item-gallery {
    margin-right: 3em;
  }
  .item-gallery img {
    margin: 0;
  }
}
/*# sourceMappingURL=item.css.map */