.item-main {
  background-color: white;
  padding-top: 9em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.nomain-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: 0.5s;

  img {
    margin-bottom: 1em;
  }
}

.image-cache {
  width: 0;
  height: 0;
}

.baggedarrow {
  position: fixed;
  opacity: 0;
  transition: 0.5s;
  top: 150px;
  right: 53px;

  img {
    width: 60px;
  }
}

.item-layout {
  display: flex;
  // background-color: gray;
}

.item-gallery {
  // background-color: green;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5em;
  transition: 0.5s;

  img {
    width: 600px;
    height: 800px;
    object-fit: cover;
    margin: 0 1em;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;

    & > * {
      width: 60px;
      height: 60px;
    }
  }
}

.item-details {
  margin: auto 0;
}

.itemdetails-name {
  font-size: 4rem;
  transition: 0.5s;
  margin-bottom: 0.5em;
  width: 10em;
}

.itemdetails-desc {
  margin-bottom: 4em;
  width: 35em;
}

.itemdetails-sizes {
  margin-bottom: 0.5em;
}

.itemdetails-size {
  display: inline-block;
  margin-bottom: 2em;

  button {
    border: none;
    cursor: pointer;
    margin-right: 1em;
    color: grey;
    background-color: rgba(172, 169, 169, 0.1);
    border: 1px solid rgb(165, 163, 163);
    //border-radius: 0.5em;
    padding: 0.5em 0.9em;
  }
}

.itemdetails-price {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.addtobag-btn {
  font-size: 1.5rem;
  border: none;
  color: #a80f29;
  background-color: white;
  border: 2px solid #a80f29;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  cursor: pointer;

  &:hover {
    background-color: #a80f29;
    color: white;
  }
}

.quantity-guide {
  font-size: 0.9rem;
  color: gray;
  font-style: italic;
}

.photo-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  color: rgb(209, 205, 205);
  transition: 0.5s;
  font-size: 4rem;

  p {
    margin-right: 0.4em;
  }
}

.related-products {
  width: 100%;
  position: relative;
  margin-top: 9em;
  padding-right: 10em;
  padding-left: 10em;
  transition: 0.5s;
}

.related-title {
  font-size: 2.1rem;
}

.scroll-btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;

  & > * {
    width: 60px;
    height: 60px;
  }
}

.left-btn {
  position: absolute;
  left: 90px;
  top: 210px;
}

.right-btn {
  position: absolute;
  right: 90px;
  top: 210px;
}

.related-container {
  padding: 2em 0;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.related-container::-webkit-scrollbar {
  display: none;
}

.related-item {
  margin-right: 5em;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 230px;
    height: 330px;
    object-fit: cover;
  }
  button {
    border: none;
    background: none;
  }
}

.clothingitem-name {
  text-align: start;
  text-decoration: none;
  color: black;
  font-size: 1rem;

  p:hover {
    color: #a80f29;
  }
}

.related-price {
  color: gray;
  font-size: 0.9rem;
}

.no-related {
  font-size: 1.5rem;
  margin-left: 0.4em;
  margin-top: 1em;
}

/*  Media Queries */

@media screen and (max-width: 1538px) {
  .item-gallery {
    img {
      width: 500px;
      height: 750px;
    }
  }

  .itemdetails-name {
    width: 7em;
  }

  .itemdetails-desc {
    width: 20em;
  }
}

@media screen and (max-width: 1368px) {
  .item-gallery {
    margin-right: 3em;

    img {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1282px) {
  .item-gallery {
    margin-right: 2em;

    img {
      width: 450px;
      height: 650px;
    }
  }

  .itemdetails-name {
    font-size: 3.5rem;
    width: 6em;
  }
}

@media screen and (max-width: 1026px) {
  .item-main {
    padding-top: 7em;
  }

  .item-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-gallery {
    margin-right: 0;
    margin-bottom: 5em;
  }

  .item-details {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemdetails-name {
    width: 11em;
    text-align: center;
  }

  .itemdetails-desc {
    width: 30em;
    text-align: center;
    margin-bottom: 3em;
  }

  .itemdetails-price {
    font-size: 2rem;
    margin-bottom: 0.5em;
    border-bottom: 3px solid #a80f29;
  }

  .addtobag-btn {
    color: white;
    background-color: #a80f29;
    padding: 0.5em 1.5em;
  }

  .related-products {
    padding-right: 7em;
    padding-left: 7em;
  }

  .left-btn {
    left: 50px;
  }

  .right-btn {
    right: 50px;
  }
}
