.item-main {
  background-color: brown;

  min-height: 100vh;
  padding: 10em 3em;

  img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
}

.item-layout {
  display: flex;
}

.samp {
  display: flex;
}
